{% extends 'base.html.twig' %}

{% block title %}Ajout Enfant{% endblock %}

{% block body %}
    <div class="col-md-4">
        <h3>Ajouter un enfant</h3>
        {{ form(childForm) }}
    </div>
{% endblock %}