{% extends 'base.html.twig' %}

{% block title %}Animateurs{% endblock %}

{% block body %}
    <div class="col-md-6">
        <h1>Liste des Animateurs</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for animator in animatorList %}
                <tr>
                    <td>{{ animator.lastName }}</td>
                    <td>{{ animator.firstName }}</td>
                    <td>
                        <a href="{{ path('animator_delete',{'id':animator.id}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path('animator_edit',{'id':animator.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
